* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Montserrat;
}

a {
	text-decoration: none;
}

ul {
    list-style-type: none;
    margin-right: 5rem;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}



.icon-fluid {
    height: auto;
    color: #fff;
    border: size 2rem;
    top: -26rem;
    color:#fff;
    font-weight: 900;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.container {
	margin-left: 5rem;
}

.text-uppercase {
	text-transform: uppercase;
}
section {
	padding-top: 10rem;
	padding-bottom: 10rem;
	text-align: center;

}
/*navbar*/

nav {
    width: 100%;
	font-family: Montserrat;
	background-color: #5D639E;
	color: #fff;
	padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
	float: left;
	padding-top: .5rem;
}

#logo-box .logo {
	color: #fff;
	font-weight: 700;
	font-size: 3.2rem;
}

#nav-links {
	float: right;
}

#nav-links .nav-item {
	float: left;
	margin: .4rem;
}

#nav-links .nav-link {
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	display: block;
	padding: 1.6rem;
	letter-spacing: .1rem;
	transition: color .3s;
}

#nav-links .nav-link:hover {
	color: #18bc9c;
}


/*header*/

header {
    background-color: #fff;
    padding-top: calc(112px + 10rem);
    padding-bottom: 112px;
    text-align: center;
}


header h1 {
    color: #222831;
    font-size: 5.6rem;
}

header hr {
    margin-top: 0.1rem;
    margin-bottom: 2rem;
    border: .4rem solid #222831;
    margin-right: 15rem;
    margin-left: 15rem;
}

/*portfolio*/

#portfolio {
	background-color: #D2D9EC;
}

#portfolio hr {
	margin-top: 0.1rem;
    margin-bottom: 2rem;
    border: .4rem solid #222831;
    margin-right: 52rem;
	margin-left: 52rem;
}

#portfolio h2 {
	font-size: 4.8rem;
	color: #222831;
}

.col {
	float: left;
	width: 33.33333%;	
	padding: 10px;
}

.portfolio-item {
	position: relative;
}

.portfolio-item img {
	display: block;	
}


.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #18BC9C;
	opacity: 0;
	transition: opacity .5s ease;
}


.img-overlay .icon {
	color: #fff;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


.portfolio-item:hover .img-overlay {
	opacity: 0.8;
}


/*about*/

#about{
	background-color: #18bc9c;
	color: #fff;
}

#about h2 {
	font-size: 4.2rem;
}

#about-text {
	text-align: left;
}


#about-text .left { 
	float: left;
	width: 50%;
	padding-right: 2rem;
	padding-left: 20rem;
}

#about-text .right { 
	float: right;
	width: 50%;
	padding-left: 10rem;
	padding-right: 20rem;


}

#about hr {
	margin-top: 0.1rem;
    margin-bottom: 2rem;
    border: .4rem solid #fff;
    margin-right: 65rem;
	margin-left: 65rem;
}

#about-text .text {
	padding-top: 3rem;
	font-size: 2rem;
}





